fieldset.RME{
    width: 800px;
    color: #444;
    font-family: Helvetica;
    padding: -58px;
    margin: 5px;
}

fieldset.RE{
    width: 900px;
    margin: 15px auto;
    color: #444;
    font-family: Helvetica;
    padding: 15px;
}

fieldset.RMSV{
    width: 900px;
    margin: 15px auto;
    color: #444;
    font-family: Helvetica;
    padding: 15px;
}

/* Classe coloca a cor de fundo para zebrar as linhas */
tbody {
    background: lightgray;
    margin: 2px;
}

/* Classe coloca a cor de fundo para zebrar as linhas */
.logo{
    width: 100%;
    margin: auto;
}

.h1Titulo{
    text-align: center;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 11px;
}

h1.entrada{
    text-align: center;
    font-size: 15px;
}

h2.entrada{
    text-align: left;
    font-size: 13px;
}

h2{
    text-align: center;
    font-size: 11px;
}

div{
    border: 1px solid;
}

p.sub-titulo{
    font-size: 20px;
}

div.entrada{
    background: silver;
    height: 20px;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

/* Classe para o estilo do cabeçalho da Tabela */
.header {
    background: silver;
    padding: -1%;
}

/* Classe para o estilo do cabeçalho da Tabela */
.fieldset_tr{
    background: #ddccff;
    font-size: 10px;
}


.fieldset_th_itens {
    width: 5%;
    font-size: 10px;
}

.fieldset_th_discriminacao {
    width: 40%;
    font-size: 10px;
}

.fieldset_th_qt_alm {
    width: 10%;
    font-size: 10px;
}

.fieldset_th_qt_est {
    width: 10%;
    font-size: 10px;
}

.fieldset_th_qt_uni {
    width: 10%;
    font-size: 10px;
}

.fieldset_th_vl_uni {
    width: 10%;
    font-size: 10px;
}

.fieldset_th_vl_total {
    width: 10%;
    font-size: 10px;
}

.fieldset_td_total {
    font-size: 12px;
}

/* Classe para o estilo do cabeçalho da Tabela */
.cabecalho_RME{
    padding: -1%;
    border: 0px;
    font-size: 12px;
}

/* Classe para o estilo do cabeçalho da Tabela de R_E */
tr.header_desc{
    background: silver;
    font-size: 12px;
}

/* Classe para o estilo do cabeçalho de Fornecedor*/
div.header_1 {
    background: silver;
    font-size: 12px;
    height: 10px;
}


/* Quebra dos cabeçalhos das colunas da tabela de itens*/
#quebra {
    width: 14%;
}

/* Quebra dos cabeçalhos das colunas da tabela de itens*/
#quebra_qtd_alm_RME {
    width: 18%;
}

/* Quebra dos cabeçalhos das colunas da tabela de itens*/
#quebra_qtd_atual_RME {
    width: 10%;
}

/* Quebra dos cabeçalhos das colunas da tabela de itens*/
#total {
    width: 300%;
}

/* h1 do pdf de material de serviço vascular */
#h1_R_S_V {
    font-size: 18px;
}

/* h1 do pdf de material de serviço vascular */
#h1_RMA {
    font-size: 10px;
}

/* h1 do pdf de material de serviço vascular */
h1.h1_RME {
    font-size: 8px;
}

/* th do pdf de material de serviço vascular */
#th_desc_RSV {
    width: 50%;
}

/* th do pdf de cod de R_E */
#th_cod_RE {
    width: 8%;
}

/* th do pdf de entrada */
#th_desc_RE {
    width: 40%;
}

/* th do pdf de material de serviço vascular */
#th_desc_RMA {
    width: 50%;
}

/* th do pdf de vl_custo de R_E*/
#th_vl_custo_RE {
    width: 10%;
}

/* th do pdf de vl_total de R_E*/
#th_vl_total_RE {
    width: 10%;
}

/* th do pdf de qtd de R_E*/
#th_qtd_RE {
    width: 8%;
}

/* th do pdf de und R_E*/
#th_und_RE {
    width: 8%;
}

/* th do pdf de lote R_E*/
#th_lote_RE {
    width: 5%;
}

/* th do pdf de validade R_E*/
#th_validade_RE {
    width: 15%;
}

tbody tr:nth-child(odd) {
    background-color: #ccc;
 }

 tr:nth-child(even) {
    background-color: #f2f2f2
}


.dropbtn {
    
    background-color: #00B2EE;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    
    background-color: #FF4500;
}

#myInput {
    
    border-box: box-sizing;
    background-image: url('assets/img/search.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    height: 35px;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    
    outline: 3px solid #ddd;
}

.dropdown {
    
    position: relative;
    display: inline-block;
}

.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    
    background-color: #ddd
}

.show {
    display:block;
}

#conteudo {

width:99%;
height:570px;
border:0px solid #CCC;
margin:5px;
}

#mudaH1 {

    font-size: 5px;
}